.list {
  display: flex;
  flex-direction: column;
}
.list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.list2 {
  background-color: rgb(27, 227, 227);
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: sticky;
  bottom: 0;
}
