@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.input1 {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.form h3 {
  align-self: center;
  padding: 10px;
}
.form h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--tg-theme-hint-color);
  padding: 8px 0;
}
.input1 input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 5.5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: none;
  border-radius: 5px;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

.input1 input:focus {
  border-bottom: 2px solid #14a88d;
}

.input1 select {
  color: var(--tg-theme-text-color);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: none;
  background-color: var(--tg-theme-bg-color);
}

.input1 select option {
  color: var(--tg-theme-text-color);
}

.form .input1 input::placeholder {
  color: var(--tg-theme-hint-color);
}
