.shoppingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.shoppingCart1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.faTruck {
  border: 2px solid #14a88d;
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
}

.faTruck::after {
  content: "Yetkazib berish bepul";
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: var(--tg-theme-text-color);
}

.Purchase {
  display: flex;
  gap: 50px;
  padding: 20px;
  align-items: center;
  border: 5px solid #14a88d;
  border-radius: 10px;
  background-color: #14a88d;
  position: sticky;
  bottom: 0;
}

.Purchase .totalPrice span {
  font-size: 14px;
  opacity: 0.8;
  color: white;
  font-family: "Open Sans";
  font-style: italic;
}

.Purchase .totalPrice div {
  font-size: 2rem;
  font-family: "Vina Sans";
  color: white;
  color: var(--tg-theme-text-color);
}

.Purchase Button {
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgb(28, 205, 146);
  box-shadow: 5px 5px 30px rgb(28, 205, 146);
}
