@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@500&family=Roboto:wght@500&family=Vina+Sans&display=swap");

.details {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  justify-content: center;
  gap: 40px;
}

.details1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details1 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: var(--tg-theme-text-color);
}

.details1 h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #14a88d;
}

.details1 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  color: var(--tg-theme-hint-color);
}

.details1 .img1 img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 20px;
  box-shadow: 8px 8px 100px #14a88d;
}

.details2 h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
}

.details3 {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.details3 p {
  font-size: 2rem;
  font-family: "Roboto";
  color: var(--tg-theme-text-color);
}

.button1 {
  padding: 25px;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 500;
  color: var(--tg-theme-text-color);
  box-shadow: 5px 5px 20px #14a88d;
}

.Cart {
  margin-bottom: 20px;
  border: 3px solid #14a88d;
  padding: 10px;
  box-shadow: 5px 5px 20px #14a88d;
}

.faShCart {
  font-size: 3rem;
  color: var(--tg-theme-text-color);
}
