.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #14a88d;
  border-radius: 10px;
  padding: 15px;
  width: 170px;
}

.product a {
  text-decoration: none;
  color: var(--tg-theme-text-color);
}

.product a {
  text-decoration: none;
  color: var(--tg-theme-text-color);
}

.img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  margin: 0 auto;
  box-shadow: 5px 5px 50px #14a88d;
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
  font-weight: 600;
}
